.place {
  margin: 0 auto 80px;
  display: grid;
  grid-template-rows: minmax(min-content, max-content) minmax(460px, 1fr);
  grid-template-columns: minmax(460px, 1fr) minmax(min-content, max-content);
  column-gap: 40px;
  row-gap: 48px;
}


/* Я так и не понял как создавать колонки разной высоты или ряды разной ширины :\ */

@media screen and (max-width: 1024px) {
  .place {
    grid-template-rows: minmax(min-content, max-content) minmax(440px, 1fr);
    grid-template-columns: minmax(440px, 1fr) minmax(min-content, max-content);
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-rows: minmax(min-content, max-content) minmax(340px, 1fr);
    grid-template-columns: minmax(340px, 1fr) minmax(min-content, max-content);
    column-gap: 28px;
    margin: 0 auto 73px;
  }
}

@media screen and (max-width: 560px) {
  .place {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 50px;
    row-gap: 32px;
  }
}


/* @media screen and (max-width: 320px) {
  .place {
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(320px, 1fr) minmax(min-content, max-content);
    grid-template-columns: min-content;
    column-gap: 0;
    row-gap: 32px;
    margin: 0 auto 50px;
  }
} */


/* Я не смог заставить работать грид нужным мне образом (сделать колонку с параграфом не на всю ширину) и использовал вместо этого флекс 🤷‍♂️ */